version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.1.2

parameters: 
  us-east-1:
    default: false
    type: boolean
  tf-version:
    default: 1.8.3
    type: string
  custom-config:
    default: false
    type: boolean
  default-region:
    default: us-east-1
    type: string
  workspace:
    default: "aws-terraform"
    type: string

executors:
   ubuntu-default:
     machine:
       image: ubuntu-2204:2024.04.4
     resource_class: medium
     environment: 
       AWS_REGION: "us-east-1"

commands:
  setup-executor:
    steps:
      - checkout
      - run:
          name: Install Terraform version << pipeline.parameters.tf-version >>
          command: | 
               sudo rm -rf terraform/
               sudo apt install unzip zip -y
               curl -fLSs "https://releases.hashicorp.com/terraform/<< pipeline.parameters.tf-version >>/terraform_<< pipeline.parameters.tf-version >>_linux_amd64.zip" -o "terraform_<< pipeline.parameters.tf-version >>.zip"
               sudo unzip -o terraform_<< pipeline.parameters.tf-version >>.zip
               sudo mv terraform /usr/local/bin/

jobs:
  tf-validate:
    executor: ubuntu-default
    steps:
      - setup-executor
      - run:
          name: run terraform validate
          command: |
               cd << pipeline.parameters.workspace >>
               terraform init -backend=false
               terraform validate
      
  tf-plan:
    executor: ubuntu-default
    steps:
      - setup-executor
      - run:
          name: run terraform plan
          command: |
               cd << pipeline.parameters.workspace >>
               terraform init -input=false
               terraform plan -out tfapply -var-file="terraform-test.tfvars"
      - persist_to_workspace:
          root: .
          paths:
            - .


workflows:
  tf-validate:
    when:
      and:
        - equal: ["main", << pipeline.git.branch >> ]
        - equal: ["https://github.com/CircleCI-Labs/machine-runner-linux-terraform", << pipeline.project.git_url >>]
    jobs:
      - tf-validate
      
  tf-workflow:
    when: 
      and: 
       - equal: ["terraform-test", << pipeline.git.branch >>]
    jobs:
      - tf-plan
