version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.1.2

parameters: 
  us-east-1:
    default: false
    type: boolean
  tf-version:
    default: 1.8.3
    type: string
  custom-config:
    default: false
    type: boolean
  default-region:
    default: us-east-1
    type: string
  workspace:
    default: "aws-terraform"
    type: string

executors:
   ubuntu-default:
     machine:
       image: ubuntu-2204:2024.04.4
     resource_class: medium
     environment: 
       AWS_REGION: "us-east-1"

jobs:
  tf-plan:
    executor: ubuntu-default
    steps:
      - checkout
      - run:
          name: Install Terraform version << pipeline.parameters.tf-version >>
          command: | 
               sudo rm -rf terraform/
               sudo apt install unzip zip -y
               curl -fLSs "https://releases.hashicorp.com/terraform/<< pipeline.parameters.tf-version >>/terraform_<< pipeline.parameters.tf-version >>_linux_amd64.zip" -o "terraform_<< pipeline.parameters.tf-version >>.zip"
               sudo unzip -o terraform_<< pipeline.parameters.tf-version >>.zip
               sudo mv terraform /usr/local/bin/
      - aws-cli/setup:
          profile_name: $CIRCLE_PROJECT_USERNAME
      - run:
          name: run terraform plan
          command: |
               cd << pipeline.parameters.workspace >>
               aws s3 cp s3://$TF_S3_BUCKET/terraform-test.tfvars .
               terraform init -input=false
               terraform plan -out tfapply -var-file="terraform-test.tfvars"
      - persist_to_workspace:
          root: .
          paths:
            - .



workflows:
  tf-workflow:
    jobs:
      - tf-plan:
          context: aws-context
