version: 2.1

orbs:
  aws-cli: circleci/aws-cli@4.1.2

parameters: 
  us-east-1:
    default: false
    type: boolean
  tf-version:
    default: 1.8.3
    type: string
  custom-config:
    default: false
    type: boolean
  workspace:
    default: "aws-terraform"
    type: string
  aws-default-region:
    type: string
    default: "us-east-1"
  oidc-role:
    type: string
    default: "arn:aws:iam::<account-id-goes-here>:role/<role-name>"

executors:
   ubuntu-default:
     machine:
       image: ubuntu-2204:2024.04.4
     resource_class: medium
     environment: 
       AWS_REGION: << pipeline.parameters.aws-default-region >>


commands:
  install-terraform:
    steps:
      - run:
          name: Install Terraform version << pipeline.parameters.tf-version >>
          command: | 
               sudo rm -rf terraform/
               sudo apt install unzip zip -y
               curl -fLSs "https://releases.hashicorp.com/terraform/<< pipeline.parameters.tf-version >>/terraform_<< pipeline.parameters.tf-version >>_linux_amd64.zip" -o "terraform_<< pipeline.parameters.tf-version >>.zip"
               sudo unzip -o terraform_<< pipeline.parameters.tf-version >>.zip
               sudo mv terraform /usr/local/bin/


jobs:
  tf-validate-module:
    executor: ubuntu-default
    steps:
      - checkout
      - install-terraform
      - run:
          name: Validate module syntax
          command: |
            cd aws-terraform
            terraform init -backend=false
            terraform validate
      - run:
          name: Check module formatting
          command: |
            cd aws-terraform
            terraform fmt -check -recursive

  tf-test-module-structure:
    executor: ubuntu-default
    steps:
      - checkout
      - install-terraform
      - run:
          name: Test module can be instantiated
          command: |
            cd test
            terraform init
            terraform validate
            echo "✓ Module structure is valid"

  tf-test-module-plan:
    executor: ubuntu-default
    steps:
      - checkout
      - aws-cli/setup:
          region: << pipeline.parameters.aws-default-region >>
          role_arn: << pipeline.parameters.oidc-role >>
          role_session_name: "CircleCI-${CIRCLE_WORKFLOW_ID}-${CIRCLE_JOB}"
      - install-terraform
      - run:
          name: Test module plan with AWS
          command: |
            cd test
            terraform init
            terraform plan
            echo "✓ Module plan successful"

  tf-plan-apply:
    executor: ubuntu-default
    steps:
      - checkout
      - aws-cli/setup:
          region: << pipeline.parameters.aws-default-region >>
          role_arn: << pipeline.parameters.oidc-role >>
          role_session_name: "CircleCI-${CIRCLE_WORKFLOW_ID}-${CIRCLE_JOB}"
      - install-terraform
      - run:
          name: run Terraform Plan
          command: |
               cd << pipeline.parameters.workspace >>
               terraform init -input=false
               terraform plan -out tfapply -var-file="terraform.tfvars"
      - persist_to_workspace:
          root: .
          paths:
            - .



workflows:
  module-validation:
    jobs:
      - tf-validate-module
      - tf-test-module-structure:
          requires:
            - tf-validate-module
      - tf-test-module-plan:
          requires:
            - tf-test-module-structure